<?xml version="1.0" encoding="UTF-8"?>
<MonitoringTimerTasks>

	<Task>

		<type type = "fr.dyade.aaa.common.monitoring.FileMonitoringTimerTask" />
		<period period = "1000" />
		<taskProps objectName = "resultPath" 
							 attribute  = "RANDmonitoringNUM.csv" />
		<taskProps objectName = "name" 
							 attribute  = "Monitoring" />

		<!--attsProps objectName = "AgentServer:server=AgentServer#NUM,cons=Engine#NUM"
							 attribute  = "AverageLoad1,
														 NbWaitingMessages" />
		<attsProps objectName = "AgentServer:server=AgentServer#NUM,cons=Transaction"
							 attribute  = "GarbageTime,
														 GarbageCount"/-->
		<attsProps objectName = "Joram#NUM:type=Destination,name=*"
							 attribute  = "NbMsgsReceiveSinceCreation,
 														 PendingMessageCount" />
	</Task>

</MonitoringTimerTasks>
