#############
# Appenders #
#############

# local is set to be a FileAppender wich output in file server#{$}.audit
# log4j.appender.local=org.apache.log4j.FileAppender
# # local appender file should not be defined, it is defined in
# # AgentServer depending of server id -> server#0.audit, etc.
# # log4j.appender.local.File=System.out
# log4j.appender.local.layout=org.apache.log4j.PatternLayout
# log4j.appender.local.layout.ConversionPattern=[%t] %-5p %c %x - %m%n

# tty is set to be a FileAppender which outputs to System.out. 
log4j.appender.tty=org.apache.log4j.FileAppender
log4j.appender.tty.File=System.out
log4j.appender.tty.layout=org.apache.log4j.PatternLayout
log4j.appender.tty.layout.ConversionPattern=[%t] %-5p %c %x - %m%n
log4j.appender.tty.Threshold=DEBUG

#########################
# Factory of Categories #
#########################

log4j.categoryFactory=org.objectweb.util.monolog.wrapper.log4j.MonologCategoryFactory

########################
# Configure Categories #
########################

log4j.rootCategory=ERROR, tty
# log4j.category.fr.dyade.aaa.agent.Agent=WARN
# log4j.category.fr.dyade.aaa.agent.Engine=DEBUG
# log4j.category.fr.dyade.aaa.agent.Service=DEBUG
# log4j.category.fr.dyade.aaa.mom.Destination=DEBUG
# log4j.category.fr.dyade.aaa.mom.Proxy=DEBUG
# log4j.category.fr.dyade.aaa.jndi=DEBUG
