<?xml version="1.0" encoding="UTF-8"?>
<MonitoringTimerTasks>
	<Task>
		<type 		type 		= "fr.dyade.aaa.common.monitoring.FileMonitoringTimerTask" />
		<period 	period 		= "1000" />
		<taskProps 	objectName 	= "resultPath" 
				attribute  	= "RANDmonitoringNUM.csv" />
		<taskProps 	objectName 	= "name" 
				attribute  	= "Monitoring" />
		<attsProps 	objectName 	= "Joram#NUM:type=Destination,name=queueNUM"
				attribute  	= "NbMsgsReceiveSinceCreation, PendingMessageCount" />
	</Task>
</MonitoringTimerTasks>
