<?xml version="1.0"?>
<config>
  <domain name="D0" network="fr.dyade.aaa.agent.PoolNetwork"/>
	
  <property name="Transaction" value="fr.dyade.aaa.ext.NGTransaction"/>
  <property name="Transaction.NbLogFile" value="64"/>
  <property name="Transaction.MaxLogFileSize" value="16"/>

  <server id="0" name="T0" hostname="HOST0">
    <network domain="D0" port="16050"/>
    <service class="org.objectweb.joram.mom.proxies.tcp.TcpProxyService" 
             args="16000"/>
    <service class="org.objectweb.joram.mom.proxies.ConnectionManager"
             args="root root"/>
    <service class="fr.dyade.aaa.jndi2.server.JndiServer"
             args="16400"/>
  </server>

  <server id="1" name="T1" hostname="HOST1">
    <network domain="D0" port="16051"/>
    <service class="org.objectweb.joram.mom.proxies.tcp.TcpProxyService" 
             args="16001"/>
    <service class="org.objectweb.joram.mom.proxies.ConnectionManager"
             args="root root"/>
  </server>
</config>
